*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: lightgreen;
    text-align: center;
}

/*LOGO*/

#cabeca{
    text-align: center;
    margin-bottom: 3rem;
}

#logo{
    font-family: 'Bebas Neue', cursive;
    font-size: 60px;
    color: brown;

    margin: 2rem 0 1rem 0;
}

.sub-txt{
    font-family: 'Sora', sans-serif;
    font-size: 12px;
    margin-bottom: 2rem;
}

/*CAIXAS*/


.box{
    margin-bottom: 2rem;
    font-size: 15px;
    padding-left: 1rem;
    padding-right: 1rem;
    border: none;

    width: 20rem;
    height: 3rem;
    border-radius: 1.5rem;

    box-shadow: 2px 2px 2px gray;
}

.txt{
    font-family: 'Sora', sans-serif;
    position: absolute;
    margin-top: -1.5rem;
    margin-left: 1rem;
}

.radio{
    font-family: 'Sora', sans-serif;
    margin-bottom: 2rem;
}
.radio2{
    display: flex;
    justify-content: space-between;

    margin: 0 25%;
}

.erro{
    font-family: 'Sora', sans-serif;
    height: 2rem;
    width: 17.5rem;
    padding-top: .4rem;
    color: white;
    background: red;
    display: none;

    font-size: 16px;

    margin: -2rem 0 2.5rem 3rem;

  
}
/*BOTÂO*/

button{    
    border: none;
    font-family: 'Sora', sans-serif;
}

.solid{
    background: lightsalmon;
    height: 3rem;
    width: 10rem;
    border-radius: 2.5rem;
    box-shadow: 2px 2px 2px gray;

    margin-bottom: 1rem;
}

.clear{
    background: none;
    color: darkblue;
    margin: 1rem 0;
}


button.fab{
    width: 54px;
    height: 54px;
    border-radius: 50px;
    border: none;
    font-size: 24px;
    box-shadow: 2px 2px 2px gray;
}

button.fab.fixed{
    position: fixed;
}

button.fab.bottom{
    bottom: 32px;
}

button.fab.right{
    right: 32px;
}


footer{
    text-align: center;
    margin-top: 2rem;
    
}

header{
    text-align: right;
}

header button{
    height: auto;
    width: 5rem;
    margin-right: 1rem;

}


/*reponsive*/

@media(min-width:800px){

    .radio2{
        margin: 0 40%;
    }

    .erro{
        height: 2rem;
        width: 17.5rem;
        padding-top: .4rem;
        color: white;
        background: red;
        display: none;
    
        font-size: 14px;
    
        margin: -2rem 0 2.5rem 33.5rem;
    }






}
