*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: lightgreen;
}

/*LOGO*/

#cabeca{
    text-align: center;
}

#logo{
    font-family: 'Bebas Neue', cursive;
    font-size: 60px;
    color: brown;

    margin: 2rem 0 1rem 0;
}

.sub-txt{
    font-family: 'Sora', sans-serif;
    font-size: 12px;
    margin-bottom: 2rem;
}

/*CAIXAS*/

#caixas{
    text-align: center;
    font-family: 'Sora', sans-serif;

}
.email{
    margin-bottom: 3rem;
}

input{
    font-size: 20px;
    padding-left: 1rem;
    border: none;
}

#txtEmail{
    position: absolute;
    margin-top: -1.5rem;
    margin-left: 1rem;
}

#boxEmail{
    width: 20rem;
    height: 3rem;
    border-radius: 1.5rem;
}

#txtSenha{
    position: absolute;
    margin-top: -1.5rem;
    margin-left: 1rem;
}

#txtCoSenha{
    position: absolute;
    margin-top: -1.5rem;
    margin-left: 1rem;
}

#boxSenha{
    width: 20rem;
    height: 3rem;
    border-radius: 1.5rem;
}

#boxCoSenha{
    width: 20rem;
    height: 3rem;
    border-radius: 1.5rem;
}

.erro{
    font-size: 12px;
    height: 2rem;
    width: 17.5rem;
    padding-top: .4rem;
    color: white;
    background: red;
    margin-left: 33.5rem;
    display: none;
}

/*BOTÂO*/

button{    
    border: none;
    font-family: 'Sora', sans-serif;
}

.solid{
    background: lightsalmon;
    height: 3rem;
    width: 10rem;
    border-radius: 2.5rem;
    font-size: 12px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.clear{
    background: none;
    color: darkblue;
    margin: 1rem 0;
}


button.fab{
    width: 54px;
    height: 54px;
    border-radius: 50px;
    border: none;
    font-size: 24px;
    box-shadow: 2px 2px 2px gray;
}

button.fab.fixed{
    position: fixed;
}

button.fab.bottom{
    bottom: 32px;
}

button.fab.right{
    right: 32px;
}


footer{
    text-align: center;
    margin-top: 2rem;
    
}
