#login{
    margin-bottom: 3rem;
    font-family: 'Sora', sans-serif;

}

.erro{
    height: 2rem;
    width: 17.5rem;
    padding-top: .4rem;
    color: white;
    background: red;
    margin-left: 33.5rem;
    display: none;
    
}

#recSenha {
    background: darkslateblue;
    color: white;
    font-weight: bold;
    border-radius: 1rem;
    height: 2rem;
    width: 15rem;
    margin-top: 2rem;

}


button[disabled]{
    opacity: .5;
}