#cadastro{
    margin-bottom: 3rem;

    font-family: 'Sora', sans-serif;
}

.coSenha{
    margin-top: 3rem;
}


.btCadastrar button{
    font-size: 15px;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.btLogin button{
    font-size: 12px;
    height: 3rem;
    width: 10rem;

    margin-top: 2rem;
}